.expenses{
    padding: 1rem;
    margin: 2rem auto;
    max-width: 95%;
    align-self: center;
    justify-content: center;
    width: 50rem;
    border-radius: 12px;
    background-color: rgb(15, 15, 15);


    
}
.expenses p{
    color: white;
}
